[MESSAGES CONTROL]
disable=invalid-name,global-statement,too-many-ancestors,too-few-public-methods,too-many-public-methods,raise-missing-from,missing-function-docstring,missing-module-docstring,missing-class-docstring,consider-using-f-string
